.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form-container {
  width: 90%; /* Adjust this percentage to make it wider or narrower */
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  /* other styles */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Reset and global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  font-family: Arial, sans-serif;
}

/* Container centers page content */
.container {
  max-width: 100%;
  min-width: auto;
  max-width: auto;
  margin: 0 auto; /* horizontal center */
  padding: 0;
}

.container2 {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto; /* horizontal center */
  padding: 0;
}

/* Sections styling */
section {
  padding: 100px 20px;
  text-align: center;
}

section:nth-child(even) {
  background-color: #f5f5f5;
}
